<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="shopwithcuba" transaction-type="RESOURCE_LOCAL">

        <class>com.company.shopwithcuba.entity.Product</class>
        <class>com.company.shopwithcuba.entity.Client</class>
        <class>com.company.shopwithcuba.entity.Order</class>
        <class>com.company.shopwithcuba.entity.OrderItem</class>
    </persistence-unit>
</persistence>
